.navbar {
    list-style-type: none;
    padding: 0px;
    margin: 10px 10px 20px 0px;
    overflow: hidden;
    background-color: black;
    width: 100%;
    list-style-type: none;
    text-align: center;
    }

.navbar a {
    list-style-type: none;
    padding: 0px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 102px;
    text-decoration: none;
    font-family: "Arial";
    }
    
    .polaroid-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

body {
    text-align: center;
    padding-top: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}


h1 {
    font-size: 5em;     
    text-align: center;
}


h2, p {
    text-align: center;
}


.hero-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    z-index: -1;   
}


.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: opacity 0.3s ease;
}


body.scrolled .hero-image {
    opacity: 0.25;   
}

