.navbar {
    list-style-type: none;
    padding: 0px;
    margin: 10px 10px 20px 0px;
    overflow: hidden;
    background-color: black;
    width: 100%;
    list-style-type: none;
    text-align: center;
    }

.navbar a {
    list-style-type: none;
    padding: 0px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 102px;
    text-decoration: none;
    font-family: "Arial";
    }
    
    .polaroid-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

body {
    text-align: center;  
}


h1 {
    font-size: 3.5em;     
    text-align: center;
}


h2, p {
    text-align: center;
}
