.navbar {
    list-style-type: none;
    padding: 0px;
    margin: 10px 10px 20px 0px;
    overflow: hidden;
    background-color: black;
    width: 100%;
    text-align: center;


    position: relative;
    z-index: 10;
}

.navbar a {
    padding: 0px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 102px;
    text-decoration: none;
    font-family: "Arial";
}

body.scrolled .navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;              
    width: 100%;            
    z-index: 9999;          
}


body.scrolled {
    padding-top: calc(60px);  
}

    
    .polaroid-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
}

body {
    text-align: center;
    padding-top: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}


h1 {
    font-size: 5em;     
    text-align: center;
}


h2, p {
    text-align: center;
}


.hero-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    z-index: -1;   
}


.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: opacity 0.3s ease;
}


body.scrolled .hero-image {
    opacity: 0.15;   
}


.hero-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background: rgba(200, 200, 200, 0.85); 
    text-align: center;
    z-index: 5; 
    backdrop-filter: blur(3px); 
    transition: opacity 0.4s ease, visibility 0.4s ease;
}


body.scrolled .hero-overlay {
    opacity: 0;
    visibility: hidden;
}

li {
    font-size: 1.1em;     
    font-weight: bold;      
    font-style: italic;     
    margin-bottom: 1em;     
}

ul.nobullets {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0;
    padding: 0 10%;
    text-align: left;
}

.team-member {
    width: 30%;
}


.team-name {
    font-size: 1.35em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 8px;
}


.team-bio {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.4;
}


.svg {
  width: 100%;
 
}